.cabecalho {
background-color: #915F92;
color:white;
display:flex;
justify-content: space-around;
padding: 24 px 0;

}

.cabecalho-imagem {
width: 20%;

}

.cabecalho-lista-item {
display: inline-block;
margin: 0 16px;
padding: 24px 0;
font-size: 48px;
}

        
    